a:hover,
a:focus {
  text-decoration: none !important;
}
.euiComboBox .euiComboBox__inputWrap {
  border-radius: 8px;
}
.euiHeaderSectionItem:after {
  top: 0;
}
.euiPage {
  display: -webkit-flex;
  display: flex;
  /* background: linear-gradient(87deg, #8daedc 0, #3164a2 100%); */
}

.euiBody--headerIsFixed .euiFlyout,
.euiBody--headerIsFixed .euiCollapsibleNav {
  top: 49px;
  height: calc(100% - 49px);
}
.euiTitle--small {
  color: #006bb4;
}
.euiFieldNumber {
  text-align: center;
}